@font-face {
  font-family: "THICCCBOI";
  src: url("/static/fonts/thicccboi/THICCCBOI-Regular.woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "THICCCBOI";
  src: url("/static/fonts/thicccboi/THICCCBOI-Medium.woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "THICCCBOI";
  src: url("/static/fonts/thicccboi/THICCCBOI-Bold.woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "THICCCBOI";
  src: url("/static/fonts/thicccboi/THICCCBOI-ExtraBold.woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "THICCCBOI";
  src: url("/static/fonts/thicccboi/THICCCBOI-Black.woff2");
  font-weight: 900;
  font-display: swap;
}
